.main1 {
//   display: flex;
//   background-color: aqua;
  .nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
   //  text-decoration: none;
   a{
      text-decoration: none;
   }
  }
  .photos {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}
