.main2 {
// background-color: rgb(5, 55, 99);
  .nav2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
   //  text-decoration: none;
   a{
      text-decoration: none;
   }
  }
  .photos {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}
