.Menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .menu-left {
    align-items: center;
    display: flex;
    font-size: 14px;
    gap: 1.5rem;
    color: black;
    font-weight: 500;
    img {
      width: 20px;
    }
  }
}
