.pages{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 10px;
   // float:right;
   .conc{
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 700;
   }
}