.Eventcontainer {
  width: 850px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;


  .image-card {
    display: flex;
    height: 60%;
   margin: 10px 10px;
    flex-wrap: wrap;

    img {
      height: 180px;
      width: 180px;
      box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.25);
    }
  }
}
