.shortcut{
   display: flex;
   flex-direction: column;
   line-height: 1px;
   // width: 100%;
   font-weight: normal;
   .react{
      display: flex;
      align-items: center;
      gap: 1.5rem;
     
      img{
         width: 25px;
         margin-left:2px ;

      }
   }
}