.main-container2 {
  align-items: center;
  display: flex;
  // width: 100%;
  // flex-direction: row;
  .container {
    display: flex;
    flex-direction: column;
    .upper-div {
      display: flex;
      align-items: center;
      gap: 1rem;
      input {
        border: none;
        border-radius: 2rem;
      }
    }
    .lower-div {
      display: flex;
      flex-direction: row;
      .images1 {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 2rem;
        color: #94a3b8;
        justify-content: space-between;
        img {
          width: 24px;
        }
      }
    }
  }
}
